body {
  font-size: 14px;
}
header,
main,
footer {
  max-width: 700px;
  margin: 1 auto;
}
header,
footer {
  margin: 0.5rem;
  border: 1px solid #bbb;
  padding: 0.5rem;
  background-color: #bed;
}

header img {
  float: right;
  width: 120px;
  height: auto;
}
h1 {
  padding: 1.5;
}
h2 {
  margin: 0.5rem;
}
