@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  font-size: 14px;
}
header,
main,
footer {
  display: block;
  max-width: 700px;
  margin: 1.5rem;
}
header,
footer {
  margin: 1.5rem;
  border: 1px solid #bbb;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: #bed;
}

header img {
  float: right;
  width: 120px;
  height: auto;
}
h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
h2 {
  margin: 0 auto;
}
footer {
  text-align: center;
  margin: 0 auto;
}
header {
  margin: 0 auto;
}
main {
  margin: 0 auto;
}
