body {
  font-size: 14px;
}
header,
main,
footer {
  max-width: 710px;
  margin: 1 auto;
}
header,
footer {
  margin: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: #bed;
}

header img {
  float: right;
  width: 120px;
  height: auto;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0.5rem;
  
}
footer{
   text-align: center;
}