body {
    margin: 0;
  }
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
.column {
        float: left;
        width: 33.33%;
        padding: 15px;
      }
.row:after {
        content: "";
        display: table;
        clear: both;
      }
      