
  picture{
    display:flex;
    align-self: center;
    margin: 0;
  }
  img[data-src] {
    filter: blur(0.2em);
    align-content: center;
  }
  
  img {
    filter: blur(0em);
    transition: filter 0.5s;
  }