@media only screen and (min-width: 60em) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 60px;
    max-height: 10px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 30px;
    max-height: 3px;
  }
  .navigation a {
    font-size: 20px;
  }
}
