
body {
  font-family: "Ubuntu";
}
footer,
main {
  max-width: 220em;
  margin: 0 auto;
}
header,
nav {
  margin: 0 auto;
}

header {
  background-color: #00a7e1;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 150px;
}
header img {
  width: 80px;
  height: 110px;
}
.logo {
    position:absolute;
    center: 10px;
    top:10px;
    margin: 0px 15px 15px 0px;
  }
.logo h1 {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}
.moto {
  color: #00a7e1;
  font-style: italic;
  font-size: 12px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    flex-flow:;
  }

nav {
  background-color: #00171f;
  
  
}
.navigation {
  max-width: 120em;
  list-style: none;
  background-color: #00171f;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
  color: #ffffff;
}
.navigation a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.responsive li {
  display: block;
}
nav a:hover {
  background-color: #00171f;
  color: #ffffff;
}
.active {
  background-color: #00171f;
  border-left: 4px solid #00171f;;
  border-right: 4px solid #00171f;
}

main {
  display: flex;
  flex-direction: column;
  padding: 90px;
  margin-left: 210px;
}

main div {
  border: dotted 1px #00a7e1;
  background-color: #00a7e1;
  margin: 40px;
  padding: 15px;
}

footer {
  background-color: #00a7e1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
}
footer p {
  font-size: 14px;
}
h1{
    color:#ffff;
    padding-left: 20px;
}
h2 {
  font-size: 16px;
  color: #ffffff;
}

h3 {
  font-size: 14px;
  color: #ffffff;
}

p {
  font-size: 12px;
}
