@media only screen and (min-width: 32em) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  section:nth-child(2) {
    display: block;
  }
  section:nth-child(3) {
    grid-column: span 2;
  }
  main section picture img {
    width: 100%;
    height: auto;
    border: 1px soild #bbb;
  }
}
