html {
  font-size: 22px;
}
body {
  padding: 1rem;
}

.card {
  display: flex;
	flex-direction: row;
  background-color: blue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
  display: flex;
	flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

