@media only screen and (min-width: 60em) {
  header img {
    width: 90px;
    height: auto;
  }

  h1 {
    font-size: 50px;
  }
  .acurate {
    font-size: 20px;
    align-content: center;
  }

  h2 {
    font-size: 50px;
    max-height: 13px;
  }
  .navigation a {
    font-size: 20px;
  }
}

.overlay {
  position: absolute;
  top: .1rem;
  border-left: 120px; 
  opacity: .9;  
  padding: 1.0rem;
  margin: 0;
  max-width: 200px;
  height: auto;
  font-size: 15px;
  text-justify: auto; 
}
.description {
  width: 650%;
}
