@media only screen and (min-width: 60em) {
  header img {
    width: 190px;
    height: auto;
  }

  h1 {
    font-size: 80px;    
  }

  h2 {
    font-size: 50px;
    max-height: 13px;
  }
  h3 {
    font-size: 35px;    
  }
  h4 {
    font-size: 40px;
    max-height: 13px;
  }
  .navigation a {
    font-size: 25px;
  }
  .prestonm img {
    display: block;
    width: 100%;
    margin: 0px;
    width: auto;
    float: right;
    background-color:#00a7e1;
  }
  .contactArea{
    display: flex;    
    align-content: center;
    ;
  }
  .article{
    padding-bottom: 25px;
    background-color: #00a7e1;
    align-content: center;
    
  }
  .map2 {
    float:left;
  }
  .mtn {
    float: right;
  
  }
}