body{
font-family:"Ubuntu";
}
html{
line-height:1.15;
-webkit-text-size-adjust:100%;
}
footer,
main{
max-width:80em;
margin:0auto;
}
header,

nav{
margin:0auto;
font-family:"Ubuntu";
}

header{
background-color:#00a7e1;
display:flex;
align-items:center;
justify-content:center;
font-family:"Ubuntu";
}

headerimg{
width:60px;
height:auto;
}
.headings{
display:flex;
flex-direction:column;
}
.headingsh1{
display:flex;
flex-direction:column;
font-size:18px;
color:#ffffff;
font-family:"Ubuntu";
}
.moto{
color:#00171f;
font-size:10px;
}
.boxes{
display:flex;
flex-direction:column;
padding:22px;
}
.logoh1{
font-size:18px;
color:#ffffff;
margin:auto;
}

nav{
background-color:#00171f;
}

.navigation{
max-width:80em;
list-style:none;
margin:0auto;
padding:0;
text-align:center;
}
.navigationli:first-child{
display:block;
text-align:center;
}
.navigationli{
display:none;
text-align:center;
height:50px;
}

.contentbox{
text-align:center;
font-size:30px;
padding-top:45px;
}
.navigationa{
display:block;
font-size:18px;
color:#ffff;
text-decoration:#00a7e1;
padding-top:15px;
padding-bottom:15px;
font-family:"Ubuntu";
}

.responsiveli{
display:block;
}
nava:hover{
background-color:#00171f;
color:#ffffff;
}
.active{
background-color:#00171f;
border-left:4pxsolid#00a7e1;
border-right:4pxsolid#00a7e1;
}

main{
display:flex;
flex-direction:column;

}

maindiv{
border:1px#00e192;
padding:15px;
font-family:"Ubuntu";
}

footer{
background-color:#00a7e1;

display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:#ffffff;
}

footerp{
font-size:14px;
color:#00171f;
}

h1{
font-size:15px;
color:#00171f;
margin:0%;
}

h2{
display:none;
font-size:25px;
color:#00171f;
text-align:center;
}

h3{
width:100%;
font-size:20px;
color:#00171f;
}

p{
font-size:13px;
}
div.acurate{
font-size:13px;
}


/*lESSONFIVECONTAINERANDOVERLAY*/

*{
box-sizing:border-box;
}
.container{
position:relative;
width:100%;
height:auto;
}

.description{
list-style:none;
position:absolute;
top:.1rem;
border-left:10px;
background:rgba(1,48,148,0.926);
opacity:3.0;
border:1pxsolid#00171f;
padding:.3rem;
margin:25px;
max-width:150px;
height:auto;
font-size:13px;
text-justify:auto;
}
.overlay{
color:#ffffff;
}
.container{
opacity:4.5;
color:rgb(2,3,9);
}
.containerimg{
max-width:103%;
height:auto;
}
.flex{
display:flex;
/*flex-direction:row;*/
/*letuscombinerowandwrapwithflow*/
flex-flow:rowwrap;
}

.flex-col{
display:none;
flex:11auto;
background-color:#00a7e1;
}
.flex-col,.column-col,.grid-col{
border-bottom:1pxsolid#333;
border-top:1pxsolid#333;
border-left:1pxsolid#333;
border-right:1pxsolid#333;
text-align:center;
}
.flex-col:hover,td:hover,.column-col:hover,.grid-col:hover{
opacity:0.75;
background-color:black;
color:white;
}

img{
border-radius:10px;
padding:0.25rem;
}

.data{
display:block;
padding:05px5px;
font-size:0.8rem;
text-align:center;
}

.col-head,th{
font-weight:700;
font-size:1rem;
background-color:black;
color:white;
}

#article{
border:2pxsolid#000000;
background:#00a7e1;
margin-top:10px;
padding:15px;
overflow:auto;
align-content:center;
}

#contactArea{
display:grid;
grid-template-columns:1fr1fr;
background-color:#00a7e1;
padding:15px;
align-items:center;
padding-top:15px;
padding-bottom:15px;
}

#mapImg{
display:block;
height:auto;
justify-self:end;
width:100%;
max-width:488px;
}

#contactTextArea{
display:flex;
flex-direction:column;
background-color:#00a7e1;
}

#contactTextAreap{
margin:0;
padding:10px;
padding-bottom:15px;
background-color:#00a7e1;

}

#contactTextAreah3{
grid-column:1/3;
margin-top:0;
}
.socialIcon{
width:35px;
height:auto;
}

.town-info{
display:flex;
flex-wrap:wrap;
flex-direction:column;
width:100%;
height:auto;
align-content:space-between;
background-color:#00a7e1;
}
.section{
background-color:#00a7e1;
}
#footerbottom{
background-color:#153e5c;
color:#ffffff;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}
footerp{
font-size:14px;
text-align:center;
color:#ffffff;
}
#prestonPancakes{
display:none;
background:#00a7e1;
padding:15px;
text-align:center;
}
#prestonPancakesp{
margin:0;
}
.mtn{
background-color:#00a7e1;
text-align:center;
width:100%;
grid-column:1/2;
grid-row:2/3;
}
.map2{
width:50%;

}
.colors{
background-color:#00a7e1;
}
