@media only screen and (min-width: 40em) {
  nav ul {
    flex-flow: row wrap;
  }
    #colors tr td:nth-child(1),
#colors tr td:nth-child(3){
    display: revert;
}
#Table tr td:nth-child(2),
#Table tr th:nth-child(2),
#Table tr td:nth-child(3),
#Table tr th:nth-child(3) {
  display: none;
}
}