@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
body {
  font-family: "Ubuntu";
}
header,
footer,
main,
nav {
  max-width: 80em;
  margin: 0 auto;
}
main {
  padding: 15px;
}
header,
footer {
  background-color: #00a7e1;
  color: #ffffff;
  padding: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section p,
section img {
  padding-left: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style-type: none;
}
nav {
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav ul li {
  padding: 15px;
  flex: 1 1 auto;
}
nav ul li a {
  padding: 15px;
}
nav a:hover {
  color: #00a7e1;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color:#00a7e1;
}
#colors {
    border-collapse: collapse;
    margin: 15px;
}
#colors tr {
    height: 200px;
}
#colors tr td{
    text-align: center;
    vertical-align: bottom;
    width: 100x;
    padding: 15px;
}
#colors tr td:nth-child(1),
#colors tr td:nth-child(3){
    display: none;
}
.primary{
    background-color: #FFFFFF;
}
.secondary{
    background-color: #00a7e1;
}
.accent1{
    background-color: #00171F;
    color:#FFFFFF
}