body {
  font-family: "Ubuntu";
  align-items: center;
}
footer,
main {
  max-width: 80em;
  margin: 0 auto;
}
header,
nav {
  margin: 0 auto;
  font-family: "Ubuntu";
}
header {
  background-color: #00a7e1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
}
.headings {
  display: flex;
  flex-direction: column;
}
.headings h1 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #ffffff;
  font-family: "Ubuntu";
}
.moto {
  color: #00171f;
  font-size: 10px;
}
.boxes {
  display: flex;
  flex-direction: column;
  padding: 22px;
}
.logo h1 {
  font-size: 18px;
  color: #ffffff;
  margin: auto;
}

nav,
footer {
  background-color: #00171f;
  max-width: 80em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
li:first-child {
  display: block;
  text-align: center;
}
li {
  display: none;
  text-align: center;
  height: 50px;
}
a,
footer {
  display: block;
  font-size: 18px;
  color: #ffff;
  text-decoration: #00a7e1;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Ubuntu";
}

.responsive li {
  display: block;
}
nav a:hover {
  background-color: #00171f;
  color: #ffffff;
}
.active {
  background-color: #00171f;
  border-left: 4px solid #00a7e1;
  border-right: 4px solid #00a7e1;
}

main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #00171f;
}

main div {
  border: #00171f 1px #00a7e1;
  background-color: #00a7e1;
  margin: 15px;
  padding: 15px;
  font-family: "Ubuntu";
}

h1 {
  font-size: 15px;
  color: #00171f;
  margin: 0%;
}

h2 {
  font-size: 25px;
  color: #00171f;
  text-align: center;
}

h3 {
  font-size: 14px;
  color: #ffffff;
}
p {
  font-size: 20px;
  align-items: center;
}
div.acurate {
  font-size: 13px;
}
