header,
main,
footer,{
    max-width: 820px;
    margin: 0 auto;
}

h1{
    margin: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #eee;
}

main section {
    margin-left: 25px;
}

footer {
    border-top:
}

.cards {
    display: flex;
    g
}

.utah {
    display: grid;
}

section img {
    width: 200px
}